$backBlue: #29c4e6;
$gray: #f3f3f3;

.btn-default{
  background-color: $backBlue;
  color: white;
}

h1.tittle{
	background-color: $backBlue;
	color: white;
	padding: 10px;
}

.container-fluid .jumbotron{
	background-color: $backBlue;
	color: white;
	border-radius: 0px;
	padding: 20px
}

.marginB20{
	margin-bottom: 20px;
}

.marginT20{
	margin-top: 20px;
}

p.subtittle{
	padding: 5px;
	background-color: $backBlue;
	color: white;
}

p.text-right{
	color: #6d939c;
}

p.text-blue{
	color: $backBlue;
}

footer{
	background-color: #7e7e7e;
	color: white;
	h5{
		border-bottom: 1px solid #888888;
		font-weight: bold;
	}
}

.img-thumbnail {
    height: 150px;
    width: 100%;
}

.navbar-default{
	border-radius: 0px;
	background-color: $gray;
	background-image: none;
	border: 1px solid #ededed;
	li{
		font-weight: bold;
		color: #babec7 !important;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-image:none !important;
	color: white !important;
	background-color: $backBlue !important;
}

.back-tittle{
	background: #e5e5e5;
	padding-left: 35px;
	h1{
		background-color: white;
		width: 190px;
	}
}

.list-group-item{
	background-color: $gray;
	border-radius: 0px;
}

li.list-group-item:first-child {
	color: $backBlue;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; 
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
}