$backBlue: #29c4e6;

.btn-default{
  background-color: $backBlue;
  color: white;
}

h1.tittle{
	background-color: $backBlue;
	color: white;
	padding: 10px;
}

.container-fluid .jumbotron{
	background-color: $backBlue;
	color: white;
	border-radius: 0px;
	padding: 20px
}

.marginB20{
	margin-bottom: 20px;
}

p.subtittle{
	padding: 5px;
	background-color: $backBlue;
	color: white;
}

p.text-right{
	color: #6d939c;
}

p.text-blue{
	color: $backBlue;
}
